PORT=
NODE_ENV=
DATABASE_URL=
CORS_ORIGIN=
JWT_SECRET=
JWT_EXPIRES_IN=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_BASE_URL=https://apiv2.shiprocket.in/v1/external
SHIPROCKET_ORIGIN_PINCODE=560001
SHIPROCKET_DEFAULT_WEIGHT_KG=0.5
SHIPROCKET_PICKUP_LOCATION=
SHIPROCKET_DEFAULT_LENGTH_CM=10
SHIPROCKET_DEFAULT_BREADTH_CM=10
SHIPROCKET_DEFAULT_HEIGHT_CM=10
